on: release
name: Duplicate Release With Asset to Public Repo

jobs:
  Mirror:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          path: 'TestReleaseGitAction'
          ref: 'main'
          repository: 'darwin-eu/TestReleaseGitAction'
          token: ${{ secrets.PRIVATE_TOKEN }}
          persist-credentials: true

      - name: Push to public mirror
        id: push
        env:
          GITHUB_TOKEN: ${{ secrets.PRIVATE_TOKEN }}
        shell: bash
        working-directory: 'TestReleaseGitAction'
        run: |
          git config --global user.name "release bot"
          eval 'git pull https://$GITHUB_TOKEN@github.com/darwin-eu-dev/TestReleaseGitAction.git main'
          git push origin main

      - uses: Hs1r1us/Release-AIO@v2.0.0
        if: steps.push.outcome == 'success'
        env:
          GITHUB_TOKEN: ${{ secrets.PRIVATE_TOKEN }}
        with:
          tag_name: 'inherit' # Must use 'inherit' to get the latest release
          body: 'hello world' # Will be added in the new release
          repo: 'darwin-eu/TestReleaseGitAction' # The format is like owner/repo
          # asset_files: './asset_file' # Will be added in the new release

